<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data Scraping Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <img src= {{ mars.hemisphere_urls }} />
        <h3>Santa Barbara Surf Report</h3>
        <p>{{ mars.featured_image }}</p>
      </div>
    </div>

    <div class="row">
      <h2>Latest Mars News</h2>
      <h3>How NASA's Mars Helicopter Will Reach the Red Planet's Surface</h3>
      <p><h4>The small craft will seek to prove that powered, controlled flight is possible to another planet. But just getting it onto the surface of Mars willtake a whole lot of ingenuity.</h4></p>
      <h1>{{ mars.news_paragraph }}</h1>
    </div>
  </div>

  


<footer>
  <div class="footer">&copy; Copyright Coding Bootcamp 2021 </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    
</body>
</html>